body{
    font-family:monospace;
    background-color: #fff7d4;
}
p{
    font-size: 30px;
    margin: 10 auto;
    text-align: center;
}
.calc-container{
    display:grid;
    margin: 10px auto;
    border: solid black 2px;
    padding: 5px;
    height: 500px;
    width: 400px;
    background-color: #C07F00; 
    /* change later */
}
.display{
    display: block;
    margin: 5px 5px;
    padding: 5px 5px;
    height: 100px;
    border: solid black 2px;
    background-color:  rgb(245, 232, 163);
}
.body{
    display: flex;
    margin: 5px 5px;
    padding: 5px 5px;
    height: 350px;
    border: solid black 2px;
    background-color: rgb(245, 232, 163);
    flex-direction: row;
}
.numbers{
    display: flex;
    float: left;
    width: 200px;
    height: fit-content;
    flex-wrap: wrap;
    margin: 0 px;
}
.operators{
    display: flex;
    float: right;
    width: 150px;
    flex-wrap: wrap;
    margin: 0;
    flex-direction: row;
}
.normal-ops{
    display:flex;
    float:left;
    flex-direction: column; 
    align-items: center;
}
.special-ops{
    display:flex;
    float:right;
    flex-direction: column; 
}

button{
    background-color: #4C3D3D;
    color: #fff7d4;
    font-size: 60px;
    margin: 5px;
    padding: 0 5px;
    width: 55px;
}